[Desktop Entry]
Name=BadgerDrop
Comment=AppImage installer for Linux
Exec=/usr/bin/badgerdrop %f
Icon=badgerdrop
Type=Application
Terminal=false
Categories=Utility;System;PackageManager;
MimeType=application/vnd.appimage;application/x-appimage;
StartupWMClass=dev.badgerdrop.Installer
